<% @users.each do |u|%>
<p>
  <%= link_to(u.name, user_path(u)) %>
</p>
<p>
  <% if u.gender == "true" %>
    <%= 'Male'%>
  <% else %>
    <%= 'Female'%>
  <% end %>
</p>
<p>
  <%= u.email %>
</p>
<p>
  <%= u.password_digest %>
</p>




<% end %>
